<html>
  <%- include('head', {title: title}) %>
  <body>
    <article>
      <h2><%= message.user %></h2>
      <p><%= message.text %></p>
      <p><%= message.added %></p>
    </article>
    <p><a href="/">Homepage</a></p>
  </body>
</html>